{% extends 'base.html.twig' %}

{% block title %}New NatureTravaux{% endblock %}

{% block body %}
    <h1>Create new NatureTravaux</h1>

    {{ include('nature_travaux/_form.html.twig') }}

    <a href="{{ path('app_nature_travaux_index') }}">back to list</a>
{% endblock %}
