    <form method="post" id="form_rech_list">
            <input type="hidden" id="val_rech" type="text" name="val_rech" value="">
        {% for inp in ["localite", "agence", "usage", "statut", "controleur", "referent", "profil" ] %}
            <input type="hidden" id="val_{{inp}}" name="val_{{inp}}" value="">
        {% endfor %}
    </form>
