{% extends 'base.html.twig' %}

 {# {% block title %}COSSUEL{% endblock %} #}
 {% block title %}Modification du mot de passe de {{ app.user.nom }} {{ app.user.prenom }}{% endblock %}

 {% block body %}
 	<div class="grix xs4 container">
 		{% for message in app.flashes('error') %}
 			<div class="col-xs4">
 				<div class="offset-4 col-4 p-2 my-2 rounded-2 alert alert-danger">{{message}}</div>
 			</div>
 		{% endfor %}
    <div class="offset-3 col-lg-6 mb-2 shadow border border-light card p-3">
        <nav class="navbar bg-warning text-black border border-dark my-2 p-1">
            <div class="container-fluid">
                <span class="navbar-brand mb-0 h1">Modification du mot de passe</span>
            </div>
        </nav>
        <div class="container">
             <form method="post">
                 <div class="col-6 form-field">
                     <label for="pass0">Mot de passe Actuel</label>
                     <input required="required" type="password" id="pass0" name="pass0" class="form-control">
                 </div>
                 <div class="clear"></div>
                 <hr class="my-4">
                 <div class="row mt-4">
                    <div class="col-6 form-field">
                        <label for="pass">Nouveau Mot de passe</label>
                        <input required="required" type="password" id="pass1" name="pass1" class="form-control">
                    </div>
                    <div class="col-6 form-field">
                        <label for="pass2">Confirmer le mot de passe</label>
                        <input required="required" type="password" id="pass2" name="pass2" class="form-control">
                    </div>
                </div>
                 <div align="right" class='m-2 mt-4'>
                    <a href="{{ path('app_utilisateur_moncompte') }}" class="btn btn-secondary ">Annuler</a>
                    <button class="btn btn-primary ">Valider les modifications</button>
                </div>

             </form>
 		</div>
    </div>

 	</div>
 {% endblock %} 