<form method="post" action="{{ path('app_electricien_delete', {'id': electricien.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir réaliser cette suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ electricien.id) }}">
    <button class="btn">Delete</button>
</form>
