<!DOCTYPE html>
<html lang="fr">
	<head>
	 	<?php use_javascript ( 'jquery-1.2.6.min.js' )  ?> 
		<?php include_javascripts ( )  ?> 
	</head>
	<body>
	    {% if app.user %}
				<!-- ========== section start ========== -->
				<section class="section">
					<div class="container-fluid">
		{% endif %}

		{% block body %}{% endblock %}

	    {% if app.user %}
					</div>
				</section>
				<!-- ========== section end ========== -->
			</main>
			<!-- ======== main-wrapper end =========== -->
		{% endif %}

		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
		<script src="{{ asset('assets/js/ajaxload.js') }}"></script>

	</body>
</html>
