<form method="post" action="{{ path('app_proprietaire_delete', {'id': proprietaire.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir réaliser cette suppression ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ proprietaire.id) }}">
    <button class="btn">Delete</button>
</form>
