    <form method="post" id="form_rech_electricien" action="{{ path('app_installation_add4', {'id': installation.id}) }}">
            <input type="hidden" id="rech_electricien" type="text" name="rech_electricien" value="">
    </form>
